{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
   About Us
{% endblock %}

{% block body %}

    <h3>Find Your Job: Online Job Recruitment system</h3>
    <h5>Version 1.01</h5>
    <br>
    <br>
    <div style="border: #686868 5px solid; padding: 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px">
        <div><img style="display: inline; float: right" align="left" src="{{ asset('img/me.jpg') }}" width="175" height="200" /></div>
        <div style="text-align: left"><font color="#666666">
                <p>This is a project carried out for the 5th semester Software Engineering project of the Computer Science and Engineering Department</p>
                <p>This is a online system for job seeking and posting vacancies online to find jobs</p>

                <UL>
                    <LI>Developer: M.P.M. Munasinghe
                    <LI>Index Number: 130385K
                    <LI>Department: Computer Science and Engineering
                    <LI>Contact No: 0712588424
                    <LI>Email Address: pranidhith@gmail.com
                </UL>

                <br>
                <br>
                <br>
                <br>
            </font></div>
    </div>


{% endblock %}